<div class="new-bean">
<h1>Review A Bean</h1>

<%= form_for @bean do |f| %>
	<%= f.label :name %> <%= f.text_field :name %>
	<br>
	<%= f.label :overall_score %> <%= f.text_field :overall_review %>
	<br>
	Roast: <%= f.text_field :roast %>
	<br>
	Origin: <%= f.text_field :origin %>
	<br>
	<%= f.submit "Review" %>

<% end %>
</div>

