<body class="airports airport api">
<!--HEADEEEEEEEEEEEEEEEEEER -->
<div class="page-header">
	<h1>Airport Reviews</h1>
	<h2>Here is where you can review an airport, browse reviews, see what there is to do in an airport, view your flight status, and other airport info.</h2>
</div>


<div class="main">
<div class="api-info">

<p>Depart From: <%=link_to @departure_airport, airport_path(@airport) %><br>
<p>Arrive: <%= link_to @arrivalAiportFSCode, airport_path(@arrivalAirport) %><br>

<p>Stops: <%= @stops %><br>
<p>Departure Terminal: <%= @departureTerminal %><br>

</div>


<div class="airport-info"
<% if @airport %>
	<% if @airport.reviews %>
		<h2>Reviews for <%= @airport.code %>:</h2>
		<% if @overall.length > 0 %>
      		<h3>Overall Rating (<%= @overall.sum / @overall.length %>)</h3>
      	<% end %>
		<% if @airport.reviews.all.length >= 1 %>
			<% @airport.reviews.all.each do |r| %>
				<div class="airport-review">
					<p>Overall Score: <%= r.overall_score %></p>
        			<p><%= r.user.name %> says: <%= r.review_notes %></p></div>
			<%end%>
		<%else %>
			<h2>We could not find any reviews for <%=@departure_airport %></h2>
		<% end %>
	<% end %>	
<% else %>
	<h2>We could not find any reviews for that flight </h2>
<% end %>
</div>
</div>
</div>

