<body class="airports airport api">
<!--HEADEEEEEEEEEEEEEEEEEER -->
<div class="page-header">
	<h1>Airport Reviews</h1>
	<h2>Here is where you can review an airport, browse reviews, see what there is to do in an airport, view your flight status, and other airport info.</h2>
</div>


<div class="main">
<% if @arrivalAirport != nil %>
	<div class="api-info">
		<h2>You're Airports:</h2>

		<p>Depart From: <%=link_to @departure_airport, airport_path(@airport) %><br>
		<p>Arrive: <%= link_to @arrivalAiportFSCode, airport_path(Airport.find_by(code: @arrivalAiportFSCode)) %><br>

		<p>Stops: <%= @stops %><br>
		<p>Departure Terminal: <%= @departureTerminal %><br>
<% else %>
	<div class = "airport-info">
		<p>Your request could not go through, your flight might not be on the current schedule. Please try again! </p>
	</div>
<% end %>
</div>


<div class="departure">
<% if @airport != nil%>
	<% if @airport.reviews %>
		<h2>Reviews for <%= @airport.name %>:</h2>
	
      		<h3>Overall Rating (<%= @airport.score %>)</h3>
      
		<% if @airport.reviews.all.length >= 1 %>
			<% @airport.reviews.all.each do |r| %>
				<div class="airport-review">
					<p>Overall Score: <%= r.overall_score %></p>
        			<p><%= r.user.name %> says: <%= r.review_notes %></p></div>
			<%end%>
	<% else %>
		<p>There are no reviews for <%= @airport.name %>, yet. <%= link_to "Add a review", add_review_path %> now, if you
			would like! </p>
		<% end %>
	
	<% end %>	

<% end %>
</div>
<div class="arrival">
	<% if @arrivalAirport != nil%>
		<% if @arrivalAirport.reviews %>
			<h2>Reviews for <%= @arrivalAirport.name %>:</h2>
	      		<h3>Overall Rating (<%= @arrivalAirport.score %>)</h3>
	
			<% if @arrivalAirport.reviews.all.length >= 1 %>
				<% @arrivalAirport.reviews.all.each do |r| %>
					<div class="airport-review">
						<p>Overall Score: <%= r.overall_score %></p>
	        			<p><%= r.user.name %> says: <%= r.review_notes %></p></div>
				<%end%>
		<% else %>
			<p>There are no reviews for <%= @arrivalAirport.name %>, yet. <%= link_to "Add a review", add_review_path %> now, if you
				would like! </p>
			<% end %>
		
		<% end %>	

	<% end %>
</div>
</div>
</div>

