<body class="airports airport api">
<!--HEADEEEEEEEEEEEEEEEEEER -->
<div class="page-header">
	<h1>Airport Reviews</h1>
	<h2>Here is where you can review an airport, browse reviews, see what there is to do in an airport, view your flight status, and other airport info.</h2>
</div>


<div class="main">
<% if @arrivalAirport != nil %>
	<div class="api-info">

		<p>Depart From: <%=link_to @departure_airport, airport_path(@airport) %><br>
		<p>Arrive: <%= link_to @arrivalAiportFSCode, airport_path(@arrivalAirport.id) %><br>

		<p>Stops: <%= @stops %><br>
		<p>Departure Terminal: <%= @departureTerminal %><br>
<% else %>
	<div class = "airport-info">
	<p>Your request could not go through, your flight might not be on the current schedule. Please try again! </p>
	</div>
<% end %>
</div>


<div class="airport-info">
<% if @airport != nil%>
	<% if @airport.reviews %>
		<h2>Reviews for <%= @airport.code %>:</h2>
		<% if @overall.length > 0 %>
      		<h3>Overall Rating (<%= @overall.sum / @overall.length %>)</h3>
      	<% end %>
		<% if @airport.reviews.all.length >= 1 %>
			<% @airport.reviews.all.each do |r| %>
				<div class="airport-review">
					<p>Overall Score: <%= r.overall_score %></p>
        			<p><%= r.user.name %> says: <%= r.review_notes %></p></div>
			<%end%>
		
		<% end %>
	<% end %>	

<% end %>
</div>
</div>
</div>

