<body class="airports">
<!--HEADEEEEEEEEEEEEEEEEEER -->
<div class="page-header">
	<h1>Airport Reviews</h1>
	<h2>Here is where you can review an airport, browse reviews, see what there is to do in an airport, view your flight status, and other airport info.</h2>
</div>






<!--MAIN SECTION -------------------------------------- -->


<div class='main'>
	<p class="intro">Here are some of the airports that you can view reviews for. Are you stuck in LA? Try looking for recommendations for LAX!</p>
	<div class-"search">
	<%= form_tag airports_path, :method => 'get' do %>
		<p>
  		<%= text_field_tag :search, params[:search] %>
   		<%= submit_tag "Search", :name => nil %>
  		</p>
	<% end %>
	</div>
	<div class="airports-list container">

		<% @airports.each do |a| %>
 			<div class="airport col-md-6">
				<p class="title"><%= link_to a.name, airport_path(a) %>, (<%= a.code %>)
				<div class ="details">
					<p><%= a.city %>, <%= a.state %>
					<% a.reviews.all.each do |r| %>
						<% if r.tip != nil %>
							<p>"<%= r.tip %>" - <%= r.user.name %>
						<%end%>
					<%end%>	
				
				</div>
  			</div>
	<% end %>



</div>







</body>