<body class="airports">
<!--HEADEEEEEEEEEEEEEEEEEER -->
<div class="page-header">
	<h1>Airport Reviews</h1>
	<h2>Here is where you can review an airport, browse reviews, see what there is to do in an airport, view your flight status, and other airport info.</h2>
</div>






<!--MAIN SECTION -------------------------------------- -->


<div class='main content'>
	<p class="intro">Here are some of the airports that you can view reviews for. Are you stuck in LA? Try looking for recommendations for LAX!</p>
	<div class-"search">
	
	</div>

	<div class="airports-list container">

		<% @airports.each do |a| %>
 			<div class="airport col-md-6">
				<p class="title"><%= link_to a.name, airport_path(a) %>, (<%= a.code %>) --<span class="score <%= a.score.to_i >= 5 ? "yes" : "no" %>"><%= a.score %></span>
				<div class ="details">
					<p class="col-md-12"><%= a.city %>, <%= a.state %></p>
					<p class="col-md-6 <%= a.free_wifi? == "Yes" ? "yes" : "no" %>">Free Wifi? <%= a.free_wifi?%> </p>
					<p class="col-md-6">Wifi? <%= a.wifi? %><p>
				</div>
					<% a.reviews.all.each do |r| %>
						<% if r.tip != nil %>
							<p>"<%= r.tip %>" - <%= r.user.name %>
						<%end%>
					<%end%>	
				
				
  			</div>
	<% end %>



</div>







</body>