<body class="airports">
<!--HEADEEEEEEEEEEEEEEEEEER -->
<div class="page-header">
	<h1>Airport Reviews</h1>
	<h2>Here is where you can review an airport, browse reviews, see what there is to do in an airport, view your flight status, and other airport info.</h2>
</div>



<!--MAIN SECTION -------------------------------------- -->


<div class='main'>
<p class="intro">Here are some of the airports that you can view reviews for. Are you stuck in LA? Try looking for recommendations for LAX!</p>
<div class="airports-list container">

	<% @airports.each do |a| %>
  <div class="airport col-md-6">
		<p class="title"><%= link_to a.name, airport_path(a) %>
			<ul class ="details">
				<li><%= a.city %>
				<li><%= a.state %>
				<% a.reviews.all.each do |r| %>
					<li><%= r.review_notes %> - <%= r.user.name %>
				
				<%end%>	
				
			</ul>
     </div>
	<% end %>










</div>
</body>