
<body class="airports reviews">
<!--HEADEEEEEEEEEEEEEEEEEER -->
<div class="page-header">
	<h1>Airport Reviews</h1>
	<h2>Here is where you can review an airport, browse reviews, see what there is to do in an airport, view your flight status, and other airport info.</h2>
</div>


<div class="main">
<h1>Write a New Review</h1>
<div class="container">
<%= form_for @review do |f| %>
  <div class="form-group">
  <%= f.label :airport %> -- <%= link_to "Add Airport", add_airport_path %><%= f.collection_select(:airport_id, Airport.all, :id, :name, {}, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.label "Terminal" %> <%= f.text_field :terminal, class: 'form-control' %>
  </div>
   <div class="form-group">
    <%= f.label :overall_score %><%= f.number_field :overall_score, in: 1.0..10.0, step: 0.5, class: 'form-control'%> 
  </div>
  <div class="form-group">
    <%= f.label "International_Terminal?"%><%= f.check_box :international %>
  </div>
  <div class="form-group">
    <%= f.label "Good for Layovers?"%><%= f.check_box :good_for_layovers%>
  </div>
  <div class="form-group">
    <%= f.label "Free Wifi?"%><%= f.check_box :free_wifi %>
  </div>
  <div class="form-group">
    <%= f.label "Wifi?"%><%= f.check_box :wifi %>
  </div>
 
  <div class="form-group">
    <%= f.label :parking %> <%= f.number_field :parking, in: 1.0..10, step: 0.5, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :food_and_drink %> <%= f.number_field :food_and_drink, in: 1.0..10, step: 0.5, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :shopping %> <%= f.number_field :shopping, in: 1.0..10, step: 0.5, class: 'form-control' %>
  </div>
   
  <div class="form-group">
    <%= f.label :tip %> <%= f.text_field :tip, class: 'form-control' %>
  </div>
 
  <div class="form-group">
    <%= f.label :review_notes %><%= f.text_field :review_notes, class: 'form-control' %>
  </div>
  
  <input name="commit" type="submit" class="btn btn-primary" value="Submit" />

<% end %>
</div>

</body>