<!DOCTYPE html>
<html>
<head>
  <title>Plane Delayed</title>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!--NAV BARRRRRRRRRRRR -->
<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <p class="navbar-brand"><%=link_to "AR", root_path %></p>
  		</div>
  		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      	<ul class="nav navbar-nav">
        	<li class="active"><%link_to "Airports", airports_path %></a></li>
        	<li><%= link_to "Flights", flights_path%></li>
        	<li class="dropdown">
         		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reviews<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Top-Rated", reviews_path %></li>
            <li><a href="#">Near You</a></li>
            <li><a href="#">Best For...</a></li>
            <li class="divider"></li>
            <li><%= link_to "Add Review", add_review_path %></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      	</ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= if !logged_in?; link_to "Sign Up", sign_up_path; end %></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign-In<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if !logged_in? %>
            <li data-toggle="modal" data-target="myModal"><%= link_to "Sign Up", sign_up_path %></li>
            <li><%= link_to "Sign In", sessions_path %></li>
            <% end %>
            <% if logged_in? %>
            <li><%=link_to "Profile", user_path(current_user) %></li>

            <li class="divider"></li>
            <li><%= link_to "Your Reviews", user_reviews_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign Out", sign_out_path, method: :delete %>
              <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </div>
</div>


<%= yield %>


</body>
</html>
